<div class="devour-form">
  <div class="form-group">

    {{id}}. {{burger_name}}
    <button type="submit" data-id="{{burger_id}}" data-newDevoured="{{devoured}}">
      {{#if devoured}}Devour it!{{else}}{{/if}}
      {{!-- Button Text Here --}}
    </button>
  </div>
</div>