<li style="list-style: none;">
    {{id}}. {{burger_name}}
    <button class="change-devour" data-id="{{id}}" data-newDevoured="{{devour}}">
      {{!-- {{#if devoured}}Devour it!{{else}}{{/if}} --}}
      {{#if devour}}Devour it!{{else}}{{/if}}
    </button>
</li>